{% extends 'base.html' %}

{% block head %}
    <title>Update Task</title>
{% endblock %}

{% block body %}
<div class="content" style="text-align: center">
    <h1>
        Update Task - feature_2    
    </h1>

    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{task.content}}">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}
